/* mixins */
/* makes a multicolumn responsive box */
/* ie 8 hack */
@font-face {
  font-family: "icon";
  src: url("../fonts/fontawesome-webfont.eot");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icon';
  src: url("../fonts/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ie 8 hack */
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-bold-webfont.eot");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-bold-webfont.woff") format("woff"), url("../fonts/montserrat-bold-webfont.ttf") format("truetype"), url("../fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: 700;
  font-style: normal; }

/* ie 8 hack */
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat-regular-webfont.eot");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'montserrat';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.ttf") format("truetype"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: 400;
  font-style: normal; }

/* ie 8 hack */
@font-face {
  font-family: "open_sans";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'open_sans';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#montserratregular") format("svg");
  font-weight: 400;
  font-style: normal; }

/*
$light: Georgia,'Monserrat_Med', arial, helvetica, sans-serif;
$bold: Georgia, 'Montserrat_Bold', arial, helvetica, sans-serif;
*/
strong {
  font-weight: 700; }

emphasis {
  font-weight: 700; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-weight: 400;
  font-size: 1em;
  color: #222222;
  line-height: 1.5em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  background-color: #f5f9fa;
  font-family: "montserrat", arial, helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: inherit;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  a:hover {
    color: #317182; }
  a:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40); }

p {
  font-weight: 400;
  font-size: 0.9375em;
  color: #222222;
  line-height: 1.8em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0 0 0.75em 0;
  font-family: "open_sans", arial, helvetica, sans-serif; }
  p strong {
    font-weight: 700; }
  p a {
    text-decoration: none;
    color: #4094aa;
    transition-property: background-color;
    transition-duration: .07s;
    transition-timing-function: ease-in-out;
    /*border-bottom:1px dotted $aqua_blue; */
    background-image: none, url("../temp_art/underline.svg");
    background-repeat: repeat-x;
    background-position: left 90%; }
    p a:hover {
      color: #317182; }

h1 {
  font-weight: 700;
  font-size: 2.625em;
  color: #555555;
  line-height: 1.3em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0; }
  @media screen and (max-width: 37.5em) {
    h1 {
      font-size: 2em; } }

h2 {
  font-weight: 700;
  font-size: 1.125em;
  color: #555555;
  line-height: 1.2em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0 0 15px 0;
  clear: both; }

h3 {
  font-weight: 700;
  font-size: 0.875em;
  color: #666666;
  line-height: 1.4em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0 0 20px 0;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }

h4 {
  font-weight: 700;
  font-size: 0.9375em;
  color: #666666;
  line-height: 1.4em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0 0 5px 0; }

.hidden {
  position: absolute;
  left: -9999px;
  top: -9999px; }

i {
  font-family: "icon", arial, helvetica, sans-serif;
  font-style: normal; }

strong {
  font-weight: 700;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  text-transform: inherit;
  font-family: "montserrat", arial, helvetica, sans-serif; }

.clear {
  clear: both;
  height: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 0em; }

.red {
  color: #cc0202; }

blockquote {
  font-size: 0.875em;
  line-height: 1.5em;
  margin: 15px 0px 18px;
  padding: 0 20px;
  color: #555555;
  font-family: "open_sans", arial, helvetica, sans-serif;
  border-left: 1px solid #cac8d2; }

.label {
  font-weight: 700;
  font-size: 0.625em;
  color: #999999;
  line-height: 1em;
  text-transform: uppercase;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0 0 4px 0;
  display: block;
  letter-spacing: .09em; }

.right_link {
  float: right;
  margin: 0px 0 20px 0;
  font-size: 0.875em;
  color: #555555; }
  .right_link:after {
    content: ' \f0a9';
    font-family: "icon", arial, helvetica, sans-serif;
    color: inherit;
    display: inline-block;
    margin-left: 5px;
    font-size: 1.125em;
    padding: 0px 0 0 0; }

.field_label {
  font-family: "montserrat", arial, helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.9375em;
  color: #555555;
  line-height: 1.4;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0px 0 10px 0; }

/*
.chatter_text
	{
	@include font (500, .9em, $dark_gray, 1.5em, none);
	
		strong
		{
		font-weight:$medium;
		}
	
	}	
	
	*/
/**** MAIN CONTAINER *****/
.container {
  width: 100%;
  max-width: 1000px;
  margin: 50px auto; }

.content_container {
  width: 100%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  max-width: 1000px;
  margin: 0 auto 0;
  float: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 5.625em; }
  @media screen and (max-width: 1040px) {
    .content_container {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%; } }
  @media screen and (max-width: 700px) {
    .content_container {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%; } }

.top_info_container {
  width: 100%;
  margin: 5.625em 0 1.875em 0;
  border-bottom: 3px solid #cac8d2;
  padding: 0 0 1.875em 0; }

.main_news_container {
  width: 67.48%;
  margin: 0 0.4% 0 0;
  box-sizing: border-box;
  float: left;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 2%;
  padding: 0 15px 0 0;
  border-right: 1px solid #cac8d2; }
  @media screen and (max-width: 750px) {
    .main_news_container {
      width: 100%;
      padding: 0px;
      border-right: 0px;
      background-image: none; } }

/**** RIGHT RAIL *****/
.main_right_rail {
  width: 30%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  height: auto;
  padding: 0px 0 0 20px;
  float: left; }
  @media screen and (max-width: 43.75em) {
    .main_right_rail {
      width: 100%;
      padding: 0 10px; } }

.main_about_us {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  border-bottom: 3px solid #cac8d2; }
  .main_about_us h4 {
    color: #cc0202;
    clear: right; }
  .main_about_us p {
    color: #999999; }
    .main_about_us p a {
      color: #555555;
      transition-property: background-color;
      transition-duration: .07s;
      transition-timing-function: ease-in-out; }
      .main_about_us p a:hover {
        color: #cc0202; }

/**** FOOTER *****/
.footer {
  width: 100%;
  height: 200px;
  margin: 40px 0 0 0;
  background-color: #d2d2dc; }

/**** FORMS ****/
/* selector */
select {
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 0.875em;
  color: #555555;
  line-height: 125%;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  background: transparent;
  background-color: white;
  border: 1px solid #cac8d2;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 5px 15px;
  box-sizing: border-box;
  background-image: url("../temp_art/arrow.svg");
  background-repeat: no-repeat;
  background-position: 95% -12px;
  background-size: 24px;
  transition-property: color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  border-radius: 2px;
  margin: 0 0 25px 0;
  overflow: hidden; }
  select:disabled {
    background-color: #cac8d2;
    background-image: url("../temp_art/subtle_stripes_@2X.png");
    background-repeat: repeat;
    background-size: 3px;
    color: #cac8d2;
    border: 1px solid #cac8d2; }
  select option {
    max-width: 120px !important;
    overflow: hidden !important; }

.inactive_selector {
  background-color: #cac8d2;
  background-image: url("../temp_art/subtle_stripes_@2X.png");
  background-repeat: repeat;
  background-size: 3px;
  color: #cac8d2;
  border: 1px solid #cac8d2; }

/* text input */
textarea {
  font-weight: 400;
  font-size: 0.8125em;
  color: #666666;
  line-height: 1.5em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  box-sizing: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 2px;
  padding: 10px 18px;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  width: 100%;
  margin: 0 0 25px 0;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  textarea:focus {
    color: #555555;
    outline: none;
    border: 1px solid #4094aa; }
  textarea:active {
    color: #555555;
    outline: none;
    border: 1px solid #4094aa; }

input[type=text] {
  font-weight: 400;
  font-size: 0.8125em;
  color: #666666;
  line-height: 1.5em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  box-sizing: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 2px;
  padding: 10px 18px;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  width: 100%;
  margin: 0 0 25px 0;
  height: 49px;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  input[type=text]:focus {
    color: #555555;
    outline: none;
    border: 1px solid #4094aa; }
  input[type=text]:active {
    color: #555555;
    outline: none;
    border: 1px solid #4094aa; }

input[type=checkbox] {
  padding: 0 0px;
  border-radius: 3px;
  background-color: #fff;
  border: 2px solid #cac8d2;
  -webkit-appearance: button;
  transition-property: border-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  width: 20px !important;
  height: 20px !important;
  margin: 4px 0 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

input[type=checkbox]:checked {
  background-color: #fff;
  background-position: 0px 0px;
  background-image: url(../temp_art/image_sprite.png);
  background-repeat: no-repeat; }

input[type=checkbox]:hover {
  border-color: #999999; }

input[type=button] {
  padding: 0px; }
  @media screen and (max-width: 25em) {
    input[type=button] {
      width: 100%;
      margin-bottom: 10px; } }

input[type=submit] {
  padding: 0px; }
  @media screen and (max-width: 25em) {
    input[type=submit] {
      width: 100%;
      margin-bottom: 10px; } }

/* buttons */
.large_button {
  height: 30px;
  border-radius: 2px;
  width: 100%;
  font-weight: 400;
  font-size: 0.75em;
  color: white;
  line-height: 100%;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  text-align: center;
  padding: 10px 0 0;
  margin: 0 0 30px; }
  .large_button:hover {
    color: white;
    background-color: #4094aa; }

.button {
  width: 150px;
  height: 42px;
  padding-top: 16px;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.75em;
  color: white;
  line-height: 100%;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  box-sizing: border-box;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  background-color: #4094aa;
  border: 0px;
  margin-right: 15px; }
  .button:hover {
    color: white;
    background-color: #317182; }
  .button:focus {
    color: white;
    background-color: #317182; }
  .button:active {
    color: white;
    background-color: #317182; }
  .button a {
    color: white;
    border-bottom: 0px; }

.small_button {
  width: 70px;
  height: 28px;
  padding-top: 9px;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.625em;
  color: white;
  line-height: 100%;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  font-family: "montserrat", arial, helvetica, sans-serif;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  text-align: center;
  background-color: #4094aa;
  border: 1px solid #4094aa; }
  @media screen and (max-width: 25em) {
    .small_button {
      width: 70px !important; } }
  .small_button a {
    color: white;
    border-bottom: 0px; }
  .small_button:hover {
    color: white;
    background-color: #317182;
    border: 1px solid #317182; }

.light_button {
  color: white;
  background-color: #9db9c1;
  border: 1px solid #9db9c1; }

.mini_button {
  width: 50px;
  height: 21px;
  padding-top: 6px;
  border-radius: 2px;
  box-sizing: border-box;
  text-align: center;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.6875em;
  color: white;
  line-height: 100%;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  font-family: "montserrat", arial, helvetica, sans-serif;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  text-align: center; }
  .mini_button a {
    color: white;
    border-bottom: 0px; }
  .mini_button:hover {
    border: 1px solid #317182;
    color: white;
    background-color: #317182; }

.mini_button_light {
  color: #4094aa;
  background-color: #f5f9fa;
  border: 1px solid #4094aa; }
  .mini_button_light a {
    color: #4094aa;
    border-bottom: 0px; }
  .mini_button_light:hover {
    border: 1px solid #317182;
    color: white;
    background-color: #317182; }

/*	
.mini_button_special
	{
	color:$light_gray;
	background-color:$background;
	border:0px;	
	box-shadow: none;
	font-family:$icon;
	font-size:em(24);
	
	&:hover
		{
		background-color:$background;
		color:$red;
		}	
	}	

*/
.button_options {
  font-weight: 400;
  font-size: 0.75em;
  color: #999999;
  line-height: 1.4em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 7px 0 0 5px;
  list-style-type: none;
  float: left;
  padding-right: 20px; }
  .button_options li {
    margin: 0 0px 2px 5px;
    text-indent: -5px;
    line-height: 1.3em; }
    .button_options li:before {
      content: "\2022";
      display: inline-block;
      margin: 0 5px 0 0;
      color: #cc0202;
      font-size: 1em; }

.hero_inside_page {
  height: auto;
  width: 100%;
  background-color: #cc0202;
  background-repeat: repeat-x;
  margin: 0;
  position: fixed;
  top: 0px;
  z-index: 1000;
  border-bottom: 1px solid #a50202; }
  @media screen and (max-width: 499px) {
    .hero_inside_page {
      height: auto; } }

.hero_inside_page_content {
  width: 100%;
  height: 30px;
  border: 0px solid white;
  margin: 0 auto;
  max-width: 1000px; }
  @media screen and (max-width: 65em) {
    .hero_inside_page_content {
      width: 95%;
      margin-left: 2.5%;
      margin-right: 2.5%; } }
  .hero_inside_page_content .button, .hero_inside_page_content #inside_CTA {
    float: right;
    background-color: #a50202;
    margin: 9px 0 8px 0; }
    .hero_inside_page_content .button:hover, .hero_inside_page_content #inside_CTA:hover {
      background-color: #f0b3b3; }
    @media screen and (max-width: 31.1875em) {
      .hero_inside_page_content .button, .hero_inside_page_content #inside_CTA {
        width: 80px;
        height: 30px;
        padding-top: 10px;
        border-radius: 2px;
        box-sizing: border-box;
        text-align: center;
        transition-property: background-color;
        transition-duration: .07s;
        transition-timing-function: ease-in-out;
        cursor: pointer;
        margin: 11px 0 10px 0; } }
    .hero_inside_page_content .button:hover, .hero_inside_page_content #inside_CTA:hover {
      background-color: #f5f9fa;
      color: #cc0202; }
  .hero_inside_page_content .link_nav {
    width: 33px;
    height: 33px;
    margin: 21px 0px 0 10px;
    display: none;
    font-family: "icon", arial, helvetica, sans-serif;
    color: #f0b3b3;
    font-size: 1.875em;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .07s;
    transition-timing-function: ease-in-out; }
    .hero_inside_page_content .link_nav:hover {
      color: white; }
    @media screen and (max-width: 50em) {
      .hero_inside_page_content .link_nav {
        display: block;
        float: right; } }
    @media screen and (max-width: 31.1875em) {
      .hero_inside_page_content .link_nav {
        width: 25px;
        height: 25px;
        margin: 15px 0px 0 10px;
        font-size: 1.25em; } }
    .hero_inside_page_content .link_nav #close_menu_icon {
      display: none; }

.search_icon {
  width: 43px;
  height: 41px;
  margin: 10px 0px 0 10px;
  font-family: "icon", arial, helvetica, sans-serif;
  color: #f0b3b3;
  font-size: 1.25em;
  float: right;
  text-align: center;
  padding: 5px 0 0 0;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  cursor: pointer; }
  .search_icon:hover {
    color: white; }
  @media screen and (max-width: 31.1875em) {
    .search_icon {
      width: 25px;
      height: 25px;
      margin: 5px 0px 0 10px;
      font-size: 1.25em; } }
  .search_icon #close_icon {
    display: none; }

.inside_page_search {
  width: 100%;
  height: auto;
  border: 1px solid #cc0202; }

.search_box_container {
  width: 100%;
  margin: 15px auto 10px;
  height: 41px;
  border-radius: 2px;
  background-color: white;
  max-width: 1000px;
  position: relative; }
  @media screen and (max-width: 65em) {
    .search_box_container {
      width: 95%;
      margin: 10px 2.5% 10px; } }
  @media screen and (max-width: 34.375em) {
    .search_box_container {
      height: 28px; } }
  .search_box_container .small_button {
    float: right;
    margin: 8px 2% 0 0; }
    @media screen and (max-width: 34.375em) {
      .search_box_container .small_button {
        margin: 0px;
        width: 25%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        position: absolute; } }

#search_box {
  margin: 0px;
  height: 41px;
  float: left;
  width: 87%;
  border: 0px solid white;
  padding-top: 12px;
  padding-left: 12px; }
  @media screen and (max-width: 50em) {
    #search_box {
      margin: 0px 0% 0px;
      width: 80%; } }
  @media screen and (max-width: 34.375em) {
    #search_box {
      width: 75%;
      height: 28px;
      padding-left: 7px;
      padding-top: 4px;
      padding-bottom: 0px; } }

.hero_logo {
  width: 204px;
  height: 29px;
  /*background-image:url('../temp_art/muckrock1.png'); */
  background-image: url("../temp_art/muckrock_white.png");
  background-image: none, url("../temp_art/muckrock_white.svg");
  background-size: 204px;
  background-position: left top;
  background-repeat: no-repeat;
  float: left;
  margin: 16px 0 0 0;
  overflow: hidden;
  display: block;
  -webkit-transition: background-image 0.2s ease-in-out;
  -moz-transition: background-image 0.2s ease-in-out;
  -ms-transition: background-image 0.2s ease-in-out;
  -o-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out; }
  @media screen and (max-width: 31.1875em) {
    .hero_logo {
      width: 140px;
      height: 20px;
      background-size: 140px;
      background-position: left 1px; } }
  .hero_logo:hover {
    background-position: left 107%; }

.inside_nav {
  float: right;
  list-style-type: none;
  font-weight: 400;
  font-size: 0.875em;
  color: white;
  line-height: 1em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0 0 15px 20px; }
  @media screen and (max-width: 50em) {
    .inside_nav {
      width: 100%;
      clear: both;
      display: none;
      padding-bottom: 20px; } }
  .inside_nav li {
    margin: 25px 18px 0 0;
    padding: 0px;
    float: left;
    text-align: right;
    transition-property: background-color;
    transition-duration: .07s;
    transition-timing-function: ease-in-out; }
    .inside_nav li i {
      font-size: 1.125em;
      display: inline-block;
      margin-top: -1px; }
    .inside_nav li a:hover {
      color: #f0b3b3; }
    @media screen and (max-width: 50em) {
      .inside_nav li {
        float: none;
        font-size: 1.375em;
        text-align: center;
        width: 100%; }
        .inside_nav li i {
          font-size: 1.5em; }
        .inside_nav li:nth-child(4) {
          float: left;
          width: 50%;
          text-align: right;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 30px 0 0;
          padding: 0 10px 0 0; }
        .inside_nav li:nth-child(5) {
          float: right;
          width: 50%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          margin: 30px 0 0;
          text-align: left;
          padding: 0 0 0 10px; } }

/* toolbox */
.toolbox, .toolbox_login_mode {
  width: 100%;
  width: 100%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  margin: 0 auto 0;
  float: none;
  position: fixed;
  bottom: 0px;
  /*ie 8 hack */
  background-color: #cac8d2;
  background-color: rgba(202, 200, 210, 0.9);
  padding: 0px 10px;
  height: auto;
  color: #ebebeb;
  font-family: "open_sans", arial, helvetica, sans-serif;
  border-bottom: 1px solid #555555; }

.toolbox_inside {
  width: 100%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  margin: 0 auto 0;
  float: none;
  max-width: 1000px;
  position: relative;
  margin-top: 8px; }

.toolbox_login {
  width: 150px;
  float: left;
  margin: 0px 10px 0 0; }
  @media screen and (max-width: 50em) {
    .toolbox_login {
      width: 35px;
      margin: 0px 10px 0 0; } }
  .toolbox_login .login_avatar {
    width: 45px;
    height: 45px;
    float: left;
    position: relative;
    overflow: hidden;
    transition-property: background-color;
    transition-duration: .07s;
    transition-timing-function: ease-in-out; }
    @media screen and (max-width: 31.25em) {
      .toolbox_login .login_avatar {
        width: 33px;
        height: 33px; } }
    .toolbox_login .login_avatar .logout_button {
      width: 12px;
      height: 12px;
      background-color: #ededed;
      position: absolute;
      bottom: 0px;
      right: 0px;
      font-family: "icon", arial, helvetica, sans-serif;
      color: #666666;
      text-align: center;
      line-height: 1em;
      font-size: 0.75em;
      transition-property: background-color;
      transition-duration: .07s;
      transition-timing-function: ease-in-out; }
    .toolbox_login .login_avatar img {
      width: 100%;
      cursor: pointer; }
    .toolbox_login .login_avatar:hover .logout_button {
      background-color: #cc0202;
      color: white; }
  .toolbox_login .logged_in_name {
    color: white;
    float: left;
    font-size: 0.8125em;
    line-height: 1.2em;
    margin: 5px 0 0 8px;
    max-width: 95px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    @media screen and (max-width: 800px) {
      .toolbox_login .logged_in_name {
        display: none; } }

.toolbox_alerts {
  background-image: url("../temp_art/toolbox_sprite.png");
  background-image: none, url("../temp_art/toolbox_sprite.svg");
  background-repeat: no-repeat;
  background-position: 8px 7px;
  width: 50px;
  height: 45px;
  float: left;
  margin: 0px 8px 0 0;
  border-right: 1px solid #666666;
  cursor: pointer; }
  .toolbox_alerts:hover {
    background-position: -34px 7px; }
  @media screen and (max-width: 31.25em) {
    .toolbox_alerts {
      width: 40px;
      height: 35px;
      margin: 0px 8px 0 0;
      background-position: 3px 2px; } }
  .toolbox_alerts .alert_count {
    font-size: 0.8125em;
    color: white;
    text-align: center;
    font-family: "montserrat", arial, helvetica, sans-serif;
    font-weight: 700;
    margin-top: 13px; }
    @media screen and (max-width: 31.25em) {
      .toolbox_alerts .alert_count {
        margin-top: 7px; } }

.toolbox_alerts_inactive {
  background-position: -45px 7px; }

.toolbox_menu {
  font-size: 0.8125em;
  color: white;
  font-family: "montserrat", arial, helvetica, sans-serif;
  font-weight: 400;
  float: left;
  margin: 8px 0 0 0;
  text-align: center;
  width: 345px;
  list-style-type: none; }
  @media screen and (max-width: 43.125em) {
    .toolbox_menu {
      width: 50px; } }
  .toolbox_menu li {
    float: left;
    margin: 0px 5px 0 0;
    padding: 0px;
    font-size: 0.875em;
    line-height: 1.4em;
    width: 80px;
    transition-property: background-color;
    transition-duration: .07s;
    transition-timing-function: ease-in-out;
    cursor: pointer; }
    @media screen and (max-width: 43.125em) {
      .toolbox_menu li {
        display: none;
        width: 50px;
        font-size: 1.125em;
        line-height: 1em; } }
    .toolbox_menu li i {
      width: 100%;
      height: 18px;
      display: block;
      font-size: 1.5em;
      color: #737373;
      margin: 0px 0 0px 0;
      transition-property: background-color;
      transition-duration: .07s;
      transition-timing-function: ease-in-out; }
      @media screen and (max-width: 43.125em) {
        .toolbox_menu li i {
          font-size: 1.125em; } }
      @media screen and (max-width: 31.25em) {
        .toolbox_menu li i {
          display: none; } }
    .toolbox_menu li a:hover {
      color: #999999; }
      .toolbox_menu li a:hover i {
        color: #999999; }
  @media screen and (max-width: 31.25em) {
    .toolbox_menu {
      margin: 13px 0 0 5px;
      font-size: 0.75em; } }
  .toolbox_menu .toolbox_show_menu {
    display: none; }
    .toolbox_menu .toolbox_show_menu:after {
      font-family: "icon", arial, helvetica, sans-serif;
      color: #ededed; }
    @media screen and (max-width: 43.125em) {
      .toolbox_menu .toolbox_show_menu {
        display: block;
        font-size: 1em; } }
    @media screen and (max-width: 31.25em) {
      .toolbox_menu .toolbox_show_menu {
        margin-top: 0px; }
        .toolbox_menu .toolbox_show_menu:after {
          content: '  \f055'; } }

.toolbox_menu_hidden_container {
  clear: both;
  margin: 5px auto 0;
  padding: 2px;
  max-width: 450px;
  width: 100%;
  display: none; }
  @media screen and (max-width: 22.8125em) {
    .toolbox_menu_hidden_container {
      width: 100%;
      margin: 0 0% 0 0;
      box-sizing: border-box;
      float: left; } }

.toolbox_menu_hidden {
  font-size: 0.8125em;
  color: white;
  font-family: "montserrat", arial, helvetica, sans-serif;
  font-weight: 400;
  float: left;
  margin: 10px auto 0px;
  padding: 0 0 8px 0;
  text-align: center;
  width: 100%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  list-style-type: none;
  clear: both; }
  .toolbox_menu_hidden li {
    float: left;
    margin: 0px 5px 0 0;
    padding: 0px;
    font-size: 0.875em;
    line-height: 1.2em;
    width: 25%;
    margin: 0 0% 0 0;
    box-sizing: border-box;
    float: left;
    padding: 0 4px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .07s;
    transition-timing-function: ease-in-out; }
    @media screen and (max-width: 22.8125em) {
      .toolbox_menu_hidden li .break {
        display: block; } }
    .toolbox_menu_hidden li i {
      width: 100%;
      height: 15px;
      display: block;
      font-size: 1.5em;
      color: #737373;
      margin: 0px 0 3px 0;
      margin-bottom: 0px;
      transition-property: background-color;
      transition-duration: .07s;
      transition-timing-function: ease-in-out; }
    .toolbox_menu_hidden li:hover {
      color: #999999; }
      .toolbox_menu_hidden li:hover i {
        color: #999999; }

.toolbox_CTA {
  float: right;
  margin: 0px 10px 0 0;
  width: 150px;
  height: 50px; }
  @media screen and (max-width: 31.25em) {
    .toolbox_CTA {
      width: 90px;
      height: 37px; } }
  .toolbox_CTA .button {
    background-color: #f5f9fa;
    border: 0px;
    width: 100%;
    height: 42px;
    padding-top: 16px;
    font-size: 0.75em;
    color: #4094aa; }
    .toolbox_CTA .button:hover {
      background-color: #317182;
      color: white; }
    @media screen and (max-width: 31.25em) {
      .toolbox_CTA .button {
        font-size: 0.75em;
        font-weight: 400;
        padding-top: 8px;
        height: 26px;
        margin-top: 3px; } }

.toolbox_close {
  width: 43px;
  height: 50px;
  margin: 0px 0px 0 10px;
  font-family: "icon", arial, helvetica, sans-serif;
  color: white;
  font-size: 1.25em;
  float: right;
  text-align: center;
  padding: 5px 0 0 0;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  .toolbox_close:hover {
    color: #ededed; }
  @media screen and (max-width: 37.5em) {
    .toolbox_close {
      width: 28px;
      height: 35px;
      margin: 0px 0px 0 0px;
      font-size: 1.25em; } }

.toolbox_reveal_container {
  position: fixed;
  bottom: 0px;
  border: 1px solid transparent;
  width: 100%;
  height: 0px;
  margin: 0 auto;
  display: none; }
  .toolbox_reveal_container .toolbox_reveal_inside {
    max-width: 1000px;
    margin: 0 auto;
    height: 0px;
    border: 1px solid transparent;
    position: relative; }
    .toolbox_reveal_container .toolbox_reveal_inside .toolbox_reveal {
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 43px;
      height: 40px;
      background-color: #cac8d2;
      background-color: rgba(202, 200, 210, 0.9);
      font-family: "icon", arial, helvetica, sans-serif;
      text-align: center;
      padding: 8px 0 0 0;
      font-size: 1.375em;
      color: white;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      margin: 0px;
      cursor: pointer;
      transition-property: background-color;
      transition-duration: .07s;
      transition-timing-function: ease-in-out; }
      .toolbox_reveal_container .toolbox_reveal_inside .toolbox_reveal:hover {
        color: #ededed; }
      @media screen and (max-width: 62.5em) {
        .toolbox_reveal_container .toolbox_reveal_inside .toolbox_reveal {
          margin-right: 10px; } }
      @media screen and (max-width: 37.5em) {
        .toolbox_reveal_container .toolbox_reveal_inside .toolbox_reveal {
          width: 28px;
          height: 35px;
          font-size: 1.25em; } }

#login_name, #login_password, .login_button_container {
  height: 36px;
  width: 30.83333%;
  margin: 0 1.5% 0 0;
  box-sizing: border-box;
  float: left;
  float: left;
  margin-bottom: 0px; }
  @media screen and (max-width: 37.5em) {
    #login_name, #login_password, .login_button_container {
      width: 49%;
      margin-right: 2%; } }
  @media screen and (max-width: 25em) {
    #login_name, #login_password, .login_button_container {
      width: 100%;
      margin-bottom: 8px;
      float: none; } }

#login_password {
  font-weight: 400;
  font-size: 0.8125em;
  color: #666666;
  line-height: 1.5em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  border: 1px solid #d2d2dc;
  border-radius: 2px;
  padding: 10px 18px;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out;
  margin: 0;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  #login_password:focus {
    color: #555555;
    outline: none;
    border: 1px solid #4094aa; }
  #login_password:active {
    color: #555555;
    outline: none;
    border: 1px solid #4094aa; }

.login_button_container {
  margin: 0px 0 8px 1.5%;
  padding: 5px 0 0; }
  @media screen and (max-width: 37.5em) {
    .login_button_container {
      width: 100.0%;
      margin: 0 0% 0 0;
      box-sizing: border-box;
      float: left;
      margin: 8px 0;
      padding: 0px; } }
  .login_button_container .button {
    float: left; }

.toolbox_login_tab {
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: auto;
  height: auto;
  background-color: #cac8d2;
  background-color: rgba(202, 200, 210, 0.9);
  padding: 8px 8px 3px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  margin: 0px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .07s;
  transition-timing-function: ease-in-out; }
  @media screen and (max-width: 65em) {
    .toolbox_login_tab {
      left: 20px; } }
  @media screen and (max-width: 37.5em) {
    .toolbox_login_tab {
      left: 10px; } }
  .toolbox_login_tab .button {
    margin: 0px; }

.monitor {
  width: 100%;
  clear: both; }
  @media screen and (max-width: 43.75em) {
    .monitor {
      width: 100%;
      padding-left: 0px;
      border-left: 0px; } }

.headlines_image {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0px 10px 0 0px; }

.news_headlines {
  width: 100%;
  font-weight: 400;
  font-size: 0.875em;
  color: #555555;
  line-height: 1.5em;
  text-transform: none;
  font-family: "montserrat", arial, helvetica, sans-serif;
  margin: 0px;
  padding: 0px; }
  .news_headlines dd {
    margin: 0px;
    padding: 10px 0 10px 0;
    margin: 0 0 0px 00px;
    /*	border-bottom:1px solid $silver;
    	border-top:1px solid $silver;  */
    clear: both; }
    .news_headlines dd .news_headlines_text {
      margin: 2px 0px 5px 50px;
      color: #555555;
      line-height: 1.4em; }
    .news_headlines dd .label {
      margin: 0 0 0 50px;
      font-size: 0.6875em; }
    .news_headlines dd .mini_button {
      margin: 0 0 0 50px; }
  .news_headlines .small_button {
    clear: left; }

.answers_container {
  width: 100%;
  margin: 0px 0 0px 0px; }

.answers_list {
  width: 100%;
  list-style-type: none;
  clear: both;
  border-bottom: 1px solid #cac8d2;
  margin: 0 0 25px 0;
  padding: 0px 0 5px 0;
  clear: left; }
  .answers_list h3 {
    margin: 0 0 10px 70px; }
  .answers_list .answer_count {
    width: 60px;
    float: left;
    border-right: 1px solid #cac8d2;
    padding: 0 10px 0 0;
    margin: 0 10px 0 0; }
    .answers_list .answer_count .answer_counter {
      font-weight: 700;
      font-size: 1.75em;
      color: #999999;
      line-height: 1em;
      text-transform: none;
      font-family: "montserrat", arial, helvetica, sans-serif;
      text-align: center;
      margin: 0px; }
    .answers_list .answer_count .answer_label {
      font-weight: 400;
      font-size: 0.6875em;
      color: #999999;
      line-height: 1em;
      text-transform: uppercase;
      font-family: "montserrat", arial, helvetica, sans-serif;
      text-align: center;
      margin: 5px 0px 0 0; }

.question_response {
  width: 58.33333%;
  margin: 0 0% 0 0;
  box-sizing: border-box;
  float: left;
  list-style-type: none;
  margin: 0px 0 0px 70px;
  clear: left; }
  @media screen and (max-width: 31.25em) {
    .question_response {
      width: auto;
      margin: 10px 0 10px 70px; } }
  .question_response .question_link {
    width: 15px;
    height: 15px;
    border-left: 1px solid #cac8d2;
    border-bottom: 1px solid #cac8d2;
    float: left;
    margin: 0 5px 0 0; }
  .question_response .question_below_line {
    font-weight: 400;
    font-size: 0.8125em;
    color: #999999;
    line-height: 1.8em;
    text-transform: none;
    font-family: "montserrat", arial, helvetica, sans-serif;
    margin: 0 0 5px 0;
    min-height: 25px;
    margin-left: 30px;
    padding-top: 3px; }
    .question_response .question_below_line .question_avatar {
      width: 22px;
      vertical-align: top;
      margin: 0px 0px 0 5px;
      display: inline-block;
      float: none; }
    .question_response .question_below_line .user_avatar_generic {
      width: 22px;
      vertical-align: top;
      margin: 0px 0px 0 5px;
      display: inline-block;
      float: none; }
      .question_response .question_below_line .user_avatar_generic a {
        width: 22px;
        height: 22px; }
    .question_response .question_below_line a {
      color: #555555;
      border-bottom: 0px; }
    @media screen and (max-width: 31.25em) {
      .question_response .question_below_line {
        padding-top: 0px; } }
    .question_response .question_below_line span {
      color: #999999; }
  .question_response .question_avatar {
    width: 22px;
    height: 22px;
    float: left;
    vertical-align: bottom;
    margin: 0 5px 0 0; }
  .question_response .user_avatar_generic {
    width: 22px;
    height: 22px;
    float: left;
    vertical-align: bottom;
    margin: 0 5px 0 0;
    background-size: 44px; }

.small_button {
  float: right;
  width: 70px; }
  @media screen and (max-width: 31.25em) {
    .small_button {
      float: none;
      clear: left;
      margin: 0px 0 10px 70px; } }

/* */
.question_title {
  margin: 0 0 0px 0; }

.question_body {
  height: 5.625em;
  margin-top: 1.25em; }
